/* .midd{
    justify-content: center;
    align-items: center;
} */
.footer{
    height: 14vh;
    border-top: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.footer .languages{
    margin: 1% 40% 0% 40%;
    font-size: larger;
}
.footer .languages a{
    margin-left: 10px;
}

.footer .links{
    margin: 0% 40% 0% 40%;
}
.footer .links a{
    margin-left: 50px;

}